<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today's To Do list - To Do Application</title>
    <link rel="stylesheet" href="styles/todos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="frame7185">
      <div class="frame7183">
        <div id="v01">
          <div id="title_caption_avatar">
            <div id="title">TO DO APP</div>
            <div id="caption">Stop Procrastinating , Start Organizing</div>
          </div>
          <br />
          <hr />
        </div>
        <div id="frame7184">
          <div id="frame6679"></div>
        </div>
      </div>
      <div class="notes">
        <form action="" method="">
          <div id="new_note">
            <input
              type="text"
              required
              placeholder="New Note"
              name="new_note"
            />
          </div>
          <div id="submit">
            <input type="submit" value="Add New Note" name="submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
